body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.banner {
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/sea.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #cad9e2;
}

.change {
    background-color: #102027;
    color: #fff;
}

.header {
    display: flex;
    opacity: 0.8;
    background-color: #1180a1;
    position: relative;
    height: 80px;
}

.icon_menu {
    font-size: 30px;
    cursor: pointer;
    margin: 17px 40px;
    cursor: pointer;
    color: #fff;
}

.logo {
    margin-top: 18px;
}

.logo:hover {
    cursor: pointer;
}

.today {
    position: absolute;
    left: 48%;
    // padding: 15px;
    top: 25%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: #fff;
}

.logo__icon {
    height: 2rem;
    margin-left: 1rem;
}

.darklight {
    position: absolute;
    left: 50%;
}

.darklight ul {
    display: flex;
    list-style: none;
    margin-left: 500px;
    margin-top: 25px;
}

.darklight ul li {
    font-weight: bold;
    color: #fff;
}

.content {
    padding: 5% 30%;
}

.today {
    position: absolute;
    left: 48%;
    // padding: 15px;
    top: 25%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: #fff;
}

.login {
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #1180a1;
    margin-top: 10%;
}

.button {
    padding: 0 40%;
}

.button button {
    padding: 8px 40px;
}

.dangky {
    text-align: center;
    margin-top: 10px;
}

.dangky a {
    text-decoration: none;
    color: #cad9e2;
    font-size: 12px;
}

.dangky a:hover {
    color: #6dd5f5;
}