body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.banner {
    height: 100vh;
    width: 100%;
    background-color: #cad9e2;
}

.change {
    background-color: rgba(255, 255, 255, 0.7);
    color: #fff;
}

.header {
    display: flex;
    opacity: 0.8;
    background-color: #1180a1;
}

.icon_menu {
    font-size: 30px;
    cursor: pointer;
    margin: 17px 30px 17px 30px;
    color: #fff;
}

.logo {
    margin-top: 20px;
    flex: 1;
}

.today {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: #fff;
    flex: 1;
    padding: 17px;
}

.logo__icon {
    height: 2rem;
    margin-left: 1rem;
}

.search {
    flex: 3;
    padding-top: 23px;
    padding-left: 60px;
}

.fa-search {
    font-size: 22px;
    color: white;
    cursor: pointer;
}

.darklight {
    flex: 2;
}

.darklight ul {
    display: flex;
    list-style: none;
    margin-top: 25px;
}

.darklight ul li {
    font-weight: bold;
    color: #fff;
}

.cover {
    background-image: url('../../assets/sea.jpg');
    background-size: cover;
    height: 100%;
}

.cover1 {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.content {
    /* background: #333; */
    padding: 0 25px;
}

.side-bar {
    left: 0;
    position: fixed;
    z-index: 9999
}

.side-bar .left-bar {
    list-style: none;
    padding: 0;
}

.side-bar .left-bar li {
    padding: 15px;
    cursor: pointer;
    background: #1180a1;
    color: #fff;
}

.side-bar .left-bar li:hover {
    cursor: pointer;
    color: #062c3b;
    background-color: rgb(167, 206, 212);
}


/* nut chuyen tiep anh */

.slick-arrow {
    display: none;
}

.slide {
    padding: 60px 20px;
    position: relative;
}

.city {
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 30px;
    height: 450px;
    color: black;
}

.city:hover {
    opacity: 0.5;
    cursor: pointer;
}

.cityName {
    margin: 20px;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    color: cadetblue;
}

.temp {
    margin: 20px;
    position: relative;
    p {
        font-size: 25px;
        span {
            font-size: 15px;
        }
    }
}

.detail {
    margin: 40px;
    color: cadetblue;
    font-size: 22px;
}

.tempmaxmin {
    display: flex;
}

.tempmin {
    margin-left: 35px;
    position: relative;
}

.tempmax {
    margin-left: 180px;
    position: relative;
}

.imageState {
    width: 170px;
    height: 170px;
    margin-left: 65px;
}

.btn-detail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: lightgray;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.btn-detail .btn {
    padding: 10px 35px;
}

.slide:hover .btn-detail {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

span.doc {
    font-size: 10px;
    position: absolute;
    top: -3px;
}

.active-pink-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
}

.active-pink input[type=text] {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
}

.active-purple-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #ce93d8;
    box-shadow: 0 1px 0 0 #ce93d8;
}

.active-purple input[type=text] {
    border-bottom: 1px solid #ce93d8;
    box-shadow: 0 1px 0 0 #ce93d8;
}

.active-cyan-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

.active-cyan input[type=text] {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

.active-cyan .fa,
.active-cyan-2 .fa {
    color: #4dd0e1;
}

.active-purple .fa,
.active-purple-2 .fa {
    color: #ce93d8;
}

.active-pink .fa,
.active-pink-2 .fa {
    color: #f48fb1;
}