<section class="banner" [ngClass]="{'change': checked}">
    <div class="header border">
        <div class="icon_menu" (click)="toggle()">
            <i class="fas fa-bars"></i>
        </div>
        <div class="logo">
            <svg class="logo__icon" viewBox="150.3 22.2 213.7 42.8">
      <path fill="#00ff9b" d="M150.3 65V22.2L193 65z" data-name="Path 1" />
      <path fill="#003eff" d="M193.1 65h-42.8L193 22.2z" data-name="Path 2" />
      <text class="logo__text" fill="white" font-family="SegoeUI-Semibold,Segoe UI" font-size="28" font-weight="600"
        letter-spacing=".1em" transform="translate(237 56)">
        <tspan x="0" y="0">Weather</tspan>
      </text>
    </svg>
        </div>

        <div class="search">
            <form class="form-inline active-cyan-4">
                <input class="form-control form-control-sm mr-3 w-75" (keyup)="onSearch(keyword.value)" #keyword type="text" placeholder="Search" aria-label="Search">
                <i class="fas fa-search" aria-hidden="true" (click)="onSearch(keyword.value)"></i>
            </form>
        </div>
        <div class="darklight">
            <ul>
                <li>LIGHT</li>
                <li>
                    <material-slide-toggle [name]="name" [id]="id" [checked]="checked" [disabled]="disabled" [aria-label]="label" [aria-labelledby]="labelledby" (click)="onChange($event)">
                    </material-slide-toggle>
                </li>
                <li>DARK</li>
            </ul>

        </div>
    </div>
    <div class="cover">
        <div class="container">
            <div class="side-bar">
                <ul class="left-bar" [@openClose]="isOpen ? 'open' : 'closed'">
                    <li (click)="onLogin()">Đăng xuất</li>
                </ul>
            </div>

            <div class="content">
                <div class="add" (click)="onThem()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                <div class="content-weather">
                    <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
                        <div ngxSlickItem *ngFor="let state of states" class="slide">
                            <div class="Remove" (click)="openConfirmationDialog(state._id)">
                                <p>x</p>
                            </div>
                            <div class="city border" style="text-align:center">
                                <div class="cityName">
                                    {{state.name}}
                                </div>
                                <div class="state" *ngIf="state.statenow == 'Nắng lớn'">
                                    <img class="imageState" src="../../assets/sun2.png" alt="">
                                </div>
                                <div class="state" *ngIf="state.statenow == 'Có mưa'">
                                    <img class="imageState" src="../../assets/rain1.png" alt="">
                                </div>
                                <div class="state" *ngIf="state.statenow == 'Trời bão'">
                                    <img class="imageState" src="../../assets/storm1.png" alt="">
                                </div>
                                <div class="state" *ngIf="state.statenow == 'Mát mẻ'">
                                    <img class="imageState" src="../../assets/cloud1.png" alt="">
                                </div>
                                <div class="temp">
                                    <p>{{state.tempnow}}<span class="doc">o</span> C</p>
                                </div>
                                <div class="detail">
                                    <p>{{state.statenow | state}}</p>
                                </div>
                                <div class="tempmaxmin">
                                    <div class="tempmin">
                                        <p>{{state.tempmin}}<span class="doc">o</span> C</p>
                                    </div>
                                    <div class="tempmax">
                                        <p>{{state.tempmax}}<span class="doc">o</span> C</p>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-detail">
                                <button class="btn btn-success" (click)="onEdit(state._id)">Chỉnh sửa</button>
                            </div>
                        </div>
                    </ngx-slick>
                </div>

            </div>
        </div>
    </div>
</section>