<section class="banner" [ngClass]="{'change': checked}">
    <div class="header border">
        <div class="logo" (click)="isHome()">
            <svg class="logo__icon" viewBox="150.3 22.2 213.7 42.8">
      <path fill="#00ff9b" d="M150.3 65V22.2L193 65z" data-name="Path 1" />
      <path fill="#003eff" d="M193.1 65h-42.8L193 22.2z" data-name="Path 2" />
      <text class="logo__text" fill="white" font-family="SegoeUI-Semibold,Segoe UI" font-size="28" font-weight="600"
        letter-spacing=".1em" transform="translate(237 56)">
        <tspan x="0" y="0">Weather</tspan>
      </text>
    </svg>
        </div>
        <div class="today">
            <h3>Cập nhật thông tin</h3>
        </div>
        <div class="darklight">
            <ul>
                <li>LIGHT</li>
                <li>
                    <material-slide-toggle [name]="name" [id]="id" [checked]="checked" [disabled]="disabled" [aria-label]="label" [aria-labelledby]="labelledby" (click)="onChange($event)">
                    </material-slide-toggle>
                </li>
                <li>DARK</li>
            </ul>

        </div>
    </div>

    <div class="button-back" (click)="onClickBack()">
        <i class="fa fa-caret-circle-left"></i>
        <i class="fa fa-arrow-left" aria-hidden="true"></i>

    </div>
    <div class="cover">

        <div class="content">

            <div class="login">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Thành phố</span>
                    </div>
                    <input type="text" #thanhpho class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" value="{{state.name}}" disabled>
                </div>



                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Nhiệt độ hiện tại</span>
                    </div>
                    <input type="text" #nhietdohientai class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" value="{{state.tempnow}}">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Nhiệt độ cao nhất</span>
                    </div>
                    <input type="text" #nhietdocaonhat class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" value="{{state.tempmax}}">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Nhiệt độ thấp nhất</span>
                    </div>
                    <input type="text" #nhietdothapnhat class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" value="{{state.tempmin}}">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Độ ẩm</span>
                    </div>
                    <input type="text" #doam class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" value="{{state.tempmin}}">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Trạng thái</span>
                    </div>
                    <input type="text" #trangthai class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" value="{{state.statenow}}">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Mức độ tia UV</span>
                    </div>
                    <input type="text" #uv class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" value="{{state.uv}}">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Tốc độ gió</span>
                    </div>
                    <input type="text" #tocdogio class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" value="{{state.winspeed}}">
                </div>
            </div>
        </div>
        <div class="content-next">
            <div class="div-content-main">
                <div class="add-weather">
                    <div class="row cohinh">
                        <div class="col-md-6 weather-weekday border">
                            <div class="boc">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Thứ</span>
                                    </div>
                                    <input type="text" #day1 class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" value="{{state.day1}}">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Nhiệt độ</span>
                                    </div>
                                    <input type="text" #temp1 class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" value="{{state.temp1}}">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Trạng thái</span>
                                    </div>
                                    <input type="text" #state1 class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" value="{{state.state1}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 weather-weekday border">
                            <div class="boc">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Thứ</span>
                                    </div>
                                    <input type="text" #day2 class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" value="{{state.day2}}">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Nhiệt độ</span>
                                    </div>
                                    <input type="text" #temp2 class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" value="{{state.temp2}}">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Trạng thái</span>
                                    </div>
                                    <input type="text" #state2 class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" value="{{state.state2}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 weather-weekday border">
                            <div class="boc">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Thứ</span>
                                    </div>
                                    <input type="text" #day3 class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" value="{{state.day3}}">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Nhiệt độ</span>
                                    </div>
                                    <input type="text" #temp3 class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" value="{{state.temp3}}">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Trạng thái</span>
                                    </div>
                                    <input type="text" #state3 class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" value="{{state.state3}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 weather-weekday border">
                            <div class="boc">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Thứ</span>
                                    </div>
                                    <input type="text" #day4 class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" value="{{state.day4}}">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Nhiệt độ</span>
                                    </div>
                                    <input type="text" #temp4 class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" value="{{state.temp4}}">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Trạng thái</span>
                                    </div>
                                    <input type="text" #state4 class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" value="{{state.state4}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="button">
        <button type="button" class="btn btn-info" (click)="onEdit(state._id,
        thanhpho.value, nhietdohientai.value, nhietdocaonhat.value, nhietdothapnhat.value, doam.value, trangthai.value, uv.value, tocdogio.value, 
        day1.value, temp1.value, state1.value,
        day2.value, temp2.value, state2.value,
        day3.value, temp3.value, state3.value,
        day4.value, temp4.value, state4.value)">Cập nhật</button>
    </div>
</section>