body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.banner {
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/sea.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #cad9e2;
}

.cover {
    display: flex;
    justify-content: space-between;
}

.change {
    background-color: #102027;
    color: #fff;
}

.them {
    display: none;
}

.header {
    display: flex;
    opacity: 0.8;
    background-color: #1180a1;
    position: relative;
    height: 80px;
}

.icon_menu {
    font-size: 30px;
    cursor: pointer;
    margin: 17px 40px;
    cursor: pointer;
    color: #fff;
}

.logo {
    margin-top: 18px;
}

.logo:hover {
    cursor: pointer;
}

.today {
    position: absolute;
    left: 48%;
    // padding: 15px;
    top: 25%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: #fff;
}

.logo__icon {
    height: 2rem;
    margin-left: 1rem;
}

.darklight {
    position: absolute;
    left: 50%;
}

.darklight ul {
    display: flex;
    list-style: none;
    margin-left: 500px;
    margin-top: 25px;
}

.darklight ul li {
    font-weight: bold;
    color: #fff;
}

.content {
    padding: 0;
    width: 49%;
}

.content-next {
    width: 49%;
    .add-detail {
        display: flex;
        padding: 20px;
        border: 1px solid gray;
        border-radius: 10px;
        background-color: #1180a1;
        justify-content: space-between;
        .form-left {
            width: 45%;
            .under {
                margin-top: 65px;
            }
        }
        .form-right {
            width: 45%;
            .under {
                margin-top: 65px;
            }
        }
    }
}

.tiep {
    display: block;
    background-color: #1180a1;
    padding-bottom: 20px;
    padding-top: 20px;
}

.today {
    position: absolute;
    left: 42%;
    // padding: 15px;
    top: 25%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: #fff;
}

.login {
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #1180a1;
}

.button-back {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    cursor: pointer;
    background: cadetblue;
    justify-content: center;
    display: grid;
    border-radius: 100%;
}

.button-back:hover {
    color: #fff;
    background-color: rgb(61, 110, 112);
}

.button {
    text-align: center;
    padding-top: 20px;
}

.button button {
    padding: 8px 40px;
}

.dangky {
    text-align: center;
    margin-top: 10px;
}

.dangky a {
    text-decoration: none;
    color: #cad9e2;
    font-size: 12px;
}

.dangky a:hover {
    color: #6dd5f5;
}

.div-content-main {
    padding: 20px;
    background: #1180a1;
    border-radius: 10px 10px 10px 10px;
    .weather-note {
        width: 100%;
        border: 1px solid #dee2e6;
        border-radius: 10px;
        background: #fff;
    }
}

.weather-weekday {
    text-align: center;
    background: #fff;
    color: black;
    border-radius: 10px;
    padding: 0 10px;
    height: 207px;
}

.weather-weekday:hover {
    opacity: 1;
}

.weather-weekday img {
    width: 100px;
    height: 100px;
}

.weather-weekday:nth-child(3),
.weather-weekday:nth-child(4) {
    margin-top: 20px;
}

.boc {
    margin-top: 29px;
}

.cohinh {
    margin: 0;
}