body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.banner {
    height: 100vh;
    width: 100%;
    background-color: #cad9e2;
}

.change {
    background-color: #102027;
    color: #fff;
}

.blackword {
    color: black;
    margin-top: 15px;
    margin-left: 15px;
}

.header {
    display: flex;
    opacity: 0.8;
    background-color: #1180a1;
    position: relative;
}

.icon_menu {
    font-size: 30px;
    cursor: pointer;
    margin: 17px 30px 17px 30px;
    color: #fff;
}

.logo {
    margin-top: 20px;
}

.today {
    position: absolute;
    left: 48%;
    /* padding: 15px; */
    top: 25%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: #fff;
}

.logo__icon {
    height: 2rem;
    margin-left: 1rem;
}

.darklight {
    position: absolute;
    left: 50%;
}

.darklight ul {
    display: flex;
    list-style: none;
    margin-left: 500px;
    margin-top: 25px;
}

.darklight ul li {
    font-weight: bold;
    color: #fff;
}

.cover {
    background-image: url('../../assets/sky.jpg');
    background-size: cover;
    height: 100%;
}

.button {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    cursor: pointer;
    background: cadetblue;
    justify-content: center;
    display: grid;
    border-radius: 100%;
}

.button:hover {
    color: #fff;
    background-color: rgb(61, 110, 112);
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.content {
    position: relative;
    border-radius: 10px;
    .content-weather {
        position: relative;
        .content-w-img {
            width: 100%!important;
            height: 300px;
            img {
                width: 100%;
                height: 100%;
                border-radius: 10px 10px 0 0;
                background-size: cover;
            }
        }
        .content-w-title {
            position: absolute;
            top: 25%;
            right: 16%;
            color: #ffffff;
            font-weight: 450;
            font-size: 1.5rem;
        }
        .content-info-temp {
            position: absolute;
            bottom: 40%;
            width: 20%;
            transform: translatey(20%);
            left: 10%;
            color: #ffffff;
            .temp {
                color: #ffffff;
                font-size: 4rem;
                padding: 0;
                margin: 0;
            }
            .wind_humid {
                margin-left: 10%;
            }
        }
    }
    .div-content-main {
        padding: 2% 3%;
        background: #ffffff;
        border-radius: 0px 0px 10px 10px;
        display: flex;
        .weather-note {
            position: absolute;
            top: 170px;
            right: 30px;
            border: 1px solid #dee2e6;
            border-radius: 10px;
            background: #fff;
            .weather-note-detail-bell i {
                font-size: 1.5rem;
                color: #1180a1;
                margin-top: 25px;
                margin-left: 20px;
            }
            .weather-note-detail-bell i:hover {
                color: #015169;
            }
        }
    }
}

.weather-weekday {
    text-align: center;
    background: #fff;
    color: #1180a1;
    border-radius: 10px;
    padding: 0 10px;
    width: 25%;
    position: relative;
    span.doc1 {
        font-size: 13px;
        position: absolute;
        top: 50%;
        right: 121px;
    }
}

.weather-weekday:hover {
    opacity: 0.6;
}

.weather-weekday img {
    width: 100px;
    height: 100px;
}

.side-bar {
    left: 0;
    position: fixed;
    z-index: 9999
}

.side-bar .left-bar {
    list-style: none;
    padding: 0;
}

.side-bar .left-bar li {
    padding: 15px;
    cursor: pointer;
    background: #1180a1;
    color: #fff;
}

.side-bar .left-bar li:hover {
    cursor: pointer;
    color: #062c3b;
    background-color: rgb(167, 206, 212);
}


/* nut chuyen tiep anh */

.slick-arrow {
    display: none;
}

.slide {
    padding: 60px 20px;
    position: relative;
}

.city {
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 30px;
    height: 450px;
    color: black;
}

.city:hover {
    opacity: 0.5;
    cursor: pointer;
}

.cityName {
    margin: 20px;
}

.temp {
    margin: 20px;
    position: relative;
}

.detail {
    margin: 40px;
}

.tempmaxmin {
    display: flex;
}

.tempmin {
    margin-left: 30px;
    position: relative;
}

.tempmax {
    margin-left: 180px;
    position: relative;
}

.imageState {
    width: 170px;
    height: 170px;
}

.btn-detail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: lightgray;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.btn-detail .btn {
    padding: 10px 35px;
}

.slide:hover .btn-detail {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

span.doc {
    font-size: 30px;
    position: absolute;
    left: 120px;
}