<section class="banner" [ngClass]="{'change': checked}">
    <div class="header border">
        <div class="icon_menu" (click)="toggle()">
            <i class="fas fa-bars"></i>
        </div>
        <div class="logo">
            <svg class="logo__icon" viewBox="150.3 22.2 213.7 42.8">
        <path fill="#00ff9b" d="M150.3 65V22.2L193 65z" data-name="Path 1" />
        <path fill="#003eff" d="M193.1 65h-42.8L193 22.2z" data-name="Path 2" />
        <text class="logo__text" fill="white" font-family="SegoeUI-Semibold,Segoe UI" font-size="28" font-weight="600"
          letter-spacing=".1em" transform="translate(237 56)">
          <tspan x="0" y="0">Weather</tspan>
        </text>
      </svg>
        </div>
        <div class="today">
            <h3>Today</h3>
        </div>
        <div class="darklight">
            <ul>
                <li>LIGHT</li>
                <li>
                    <material-slide-toggle [name]="name" [id]="id" [checked]="checked" [disabled]="disabled" [aria-label]="label" [aria-labelledby]="labelledby" (change)="onChange($event)">
                    </material-slide-toggle>
                </li>
                <li>DARK</li>
            </ul>

        </div>
    </div>
    <div class="cover">
        <div class="container">
            <div class="side-bar">
                <ul class="left-bar" [@openClose]="isOpen ? 'open' : 'closed'">
                    <li>Đăng nhập</li>
                    <li>Đăng ký</li>
                </ul>
            </div>
            <div class="button" (click)="onClickBack()">
                <i class="fa fa-caret-circle-left"></i>
                <i class="fa fa-arrow-left" aria-hidden="true"></i>

            </div>
            <div class="content">
                <div class="content-weather w-100">
                    <div class="content-w-img w-100" *ngIf="state.statenow == 'Nắng lớn'">
                        <img src="../../assets/hot.jpg" alt="">
                    </div>
                    <div class="content-w-img w-100" *ngIf="state.statenow == 'Có mưa'">
                        <img src="../../assets/rain.jpg" alt="">
                    </div>
                    <div class="content-w-img w-100" *ngIf="state.statenow == 'Trời bão'">
                        <img src="../../assets/storm.jpg" alt="">
                    </div>
                    <div class="content-w-img w-100" *ngIf="state.statenow == 'Mát mẻ'">
                        <img src="../../assets/clound.jpg" alt="">
                    </div>
                    <div class="content-w-title">
                        <p>{{ state.name }}</p>
                    </div>



                    <div class="content-info-temp">
                        <p class="temp text-center">{{ state.tempnow }} <span class="doc">o</span>C</p>
                        <p class="text-center">{{ state.statenow | state}}</p>
                        <div class="row wind_humid">
                            <div class="col-md-6">{{ state.humid }} %</div>
                            <div class="col-md-6">{{ state.winspeed }} K/M</div>
                        </div>
                    </div>
                </div>
                <div class="div-content-main">
                    <div class="weather-weekday border">
                        <p>{{state.day1}}</p>
                        <div class="state" *ngIf="state.state1 == 'Nắng lớn'">
                            <img class="imageState" src="../../assets/sun2.png" alt="">
                        </div>
                        <div class="state" *ngIf="state.state1 == 'Có mưa'">
                            <img class="imageState" src="../../assets/rain1.png" alt="">
                        </div>
                        <div class="state" *ngIf="state.state1 == 'Trời bão'">
                            <img class="imageState" src="../../assets/storm1.png" alt="">
                        </div>
                        <div class="state" *ngIf="state.state1 == 'Mát mẻ'">
                            <img class="imageState" src="../../assets/cloud1.png" alt="">
                        </div>
                        <p>{{state.temp1}}<span class="doc1">o</span> C</p>
                        <div class="detail">
                            <p>{{state.state1 | state}}</p>
                        </div>
                    </div>
                    <div class="weather-weekday border">
                        <p>{{state.day2}}</p>
                        <div class="state" *ngIf="state.state2 == 'Nắng lớn'">
                            <img class="imageState" src="../../assets/sun2.png" alt="">
                        </div>
                        <div class="state" *ngIf="state.state2 == 'Có mưa'">
                            <img class="imageState" src="../../assets/rain1.png" alt="">
                        </div>
                        <div class="state" *ngIf="state.state2 == 'Trời bão'">
                            <img class="imageState" src="../../assets/storm1.png" alt="">
                        </div>
                        <div class="state" *ngIf="state.state2 == 'Mát mẻ'">
                            <img class="imageState" src="../../assets/cloud1.png" alt="">
                        </div>
                        <p>{{state.temp2}}<span class="doc1">o</span> C</p>
                        <div class="detail">
                            <p>{{state.state2 | state}}</p>
                        </div>
                    </div>
                    <div class="weather-weekday border">
                        <p>{{state.day3}}</p>
                        <div class="state" *ngIf="state.state3 == 'Nắng lớn'">
                            <img class="imageState" src="../../assets/sun2.png" alt="">
                        </div>
                        <div class="state" *ngIf="state.state3 == 'Có mưa'">
                            <img class="imageState" src="../../assets/rain1.png" alt="">
                        </div>
                        <div class="state" *ngIf="state.state3 == 'Trời bão'">
                            <img class="imageState" src="../../assets/storm1.png" alt="">
                        </div>
                        <div class="state" *ngIf="state.state3 == 'Mát mẻ'">
                            <img class="imageState" src="../../assets/cloud1.png" alt="">
                        </div>
                        <p>{{state.temp3}}<span class="doc1">o</span> C</p>
                        <div class="detail">
                            <p>{{state.state3 | state}}</p>
                        </div>
                    </div>
                    <div class="weather-weekday border">
                        <p>{{state.day4}}</p>
                        <div class="state" *ngIf="state.state4 == 'Nắng lớn'">
                            <img class="imageState" src="../../assets/sun2.png" alt="">
                        </div>
                        <div class="state" *ngIf="state.state4 == 'Có mưa'">
                            <img class="imageState" src="../../assets/rain2.png" alt="">
                        </div>
                        <div class="state" *ngIf="state.state4 == 'Trời bão'">
                            <img class="imageState" src="../../assets/storm1.png" alt="">
                        </div>
                        <div class="state" *ngIf="state.state4 == 'Mát mẻ'">
                            <img class="imageState" src="../../assets/cloud1.png" alt="">
                        </div>
                        <p>{{state.temp4}}<span class="doc1">o</span> C</p>
                        <div class="detail">
                            <p>{{state.state4 | state}}</p>
                        </div>
                    </div>
                    <div class="weather-note">
                        <div class="row weather-note-detail">
                            <div class="col-md-2 weather-note-detail-bell">
                                <i class="fa fa-bell" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-8">
                                <p class="blackword">{{ state.statenow | note}}</p>
                            </div>

                        </div>
                    </div>
                    <!-- <div class="weather-weekday border">
                        <p>{{state.day5}}</p>
                        <div class="state" *ngIf="state.state5 == 1">
                            <img class="imageState" src="../../assets/sun.png" alt="">
                        </div>
                        <div class="state" *ngIf="state.state5 == 2">
                            <img class="imageState" src="../../assets/rain.PNG" alt="">
                        </div>
                        <div class="state" *ngIf="state.state5 == 3">
                            <img class="imageState" src="../../assets/storm.png" alt="">
                        </div>
                        <div class="state" *ngIf="state.state5 == 4">
                            <img class="imageState" src="../../assets/cloud.png" alt="">
                        </div>
                        <p>{{state.temp5}}</p>
                        <div class="detail">
                            <p>{{state.state5 | state}}</p>
                        </div>
                    </div>
                    <div class="weather-weekday border">
                        <p>{{state.day6}}</p>
                        <div class="state" *ngIf="state.state6 == 1">
                            <img class="imageState" src="../../assets/sun.png" alt="">
                        </div>
                        <div class="state" *ngIf="state.state6 == 2">
                            <img class="imageState" src="../../assets/rain.PNG" alt="">
                        </div>
                        <div class="state" *ngIf="state.state6 == 3">
                            <img class="imageState" src="../../assets/storm.png" alt="">
                        </div>
                        <div class="state" *ngIf="state.state6 == 4">
                            <img class="imageState" src="../../assets/cloud.png" alt="">
                        </div>
                        <p>{{state.temp6}}</p>
                        <div class="detail">
                            <p>{{state.state6 | state}}</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>