<section class="banner" [ngClass]="{'change': checked}">
    <div class="header border">
        <div class="logo" (click)="isHome()">
            <svg class="logo__icon" viewBox="150.3 22.2 213.7 42.8">
        <path fill="#00ff9b" d="M150.3 65V22.2L193 65z" data-name="Path 1" />
        <path fill="#003eff" d="M193.1 65h-42.8L193 22.2z" data-name="Path 2" />
        <text class="logo__text" fill="white" font-family="SegoeUI-Semibold,Segoe UI" font-size="28" font-weight="600"
          letter-spacing=".1em" transform="translate(237 56)">
          <tspan x="0" y="0" >Weather</tspan>
        </text>
      </svg>
        </div>
        <div class="today">
            <h3>Sign Up</h3>
        </div>
        <div class="darklight">
            <ul>
                <li>LIGHT</li>
                <li>
                    <material-slide-toggle [name]="name" [id]="id" [checked]="checked" [disabled]="disabled" [aria-label]="label" [aria-labelledby]="labelledby" (click)="onChange($event)">
                    </material-slide-toggle>
                </li>
                <li>DARK</li>
            </ul>

        </div>
    </div>

    <div class="content">
        <div class="login">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">FullName</span>
                </div>
                <input type="text" #fullname class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                </div>
                <input type="email" #email class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                </div>
                <input type="password" #password class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>

            <div class="button">
                <button type="button" class="btn btn-info" (click)="onSignUp(fullname.value, email.value, password.value)">Sign Up</button>
            </div>
            <div class="dangky">
                <a href="" [routerLink]="['/login']">Login</a>
            </div>
        </div>

    </div>
</section>